<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Climate Solutions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/main.css" rel="stylesheet" type="text/css">
    </head>

<body class="bg-base-100">
    <%- include('partials/navbar', { page: '/solutions/projects' }) %>


    <div class="container mx-auto p-4 py-8">
        <div class="hero bg-base-200 rounded-lg mb-8">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">Projects</h1>
                    <p class="py-6">Below you will be able to see some projects that we have.</p>
                </div>
            </div>
        </div>
            
    <div class="flex flex-wrap justify-center gap-4 mb-8">
        <a href="/solutions/projects?sector=Land Sinks" class="btn btn-secondary btn-outline btn-sm">Land Sinks</a>
        <a href="/solutions/projects?sector=Industry" class="btn btn-secondary btn-outline btn-sm">Industry</a>
        <a href="/solutions/projects?sector=Transportation" class="btn btn-secondary btn-outline btn-sm">Transportation</a>
    </div>

      <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th>Title</th>
            <th>Sector</th>
            <th>Summary</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <% projects.forEach(project => { %>
                <tr>
                    <td><%= project.title %></td>
                    <td>
                        <a href="/solutions/projects?sector=<%= project.sector %>" class="btn btn-outline btn-sm whitespace-nowrap"><%= project.sector %></a>
                    </td>
                    <td>
                        <%= project.summary_short || 'N/A' %>
                    </td>
                    <td>
                        <a href="/solutions/projects/<%= project.id %>" class="btn btn-info btn-xs btn-outline responsive">Details</a>
                    </td>
                </tr>
                <% }); %>
        </tbody>
      </table>
      </div>
    </div>
</body>
</html>